/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left
*/


body {
  padding-top: 0px; /* has a padding of 0 at the top*/
  background-color: #D0C8C8;
  display: block; /* We chose to do block so that we could have a good flow
                  one box onto of the next and so on */
  /* flex-direction: column; /* items will be shown in a column */
  align-items: center; /*centers the items */
  justify-content: center;
}

/*
 * Use of media query to change the flex-direction of the #pslo and #courses
 * elements when the width of the screen exceeds 925px to put
 * them side-by-side.
 */
 /*@media screen and (min-width: 925px) {
  .pslo-courses-container {
    display: block;
    flex-direction: column;
    max-width: 53em;
  }
} */



@media screen and (min-width: 925px) {
  .section {
    display: flex;
    flex-direction: row;
    max-width: 53em;
  }
}

h2 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
}
.section{
  border-radius: 50px 50px 50px 50px;
  padding: 20px;
  border: 50px;
  border-style:dashed;
  border-color: #151A1D;
  margin: 30px;
  max-width: 48em;
  align-items: center;
  justify-content: center;
}

#courses {
  background-color: #3F5877;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#pslo {
  background-color: #3F5887;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#faculty {
  background-color: #3F5887;
  display: flex;
  text-align: center;
  flex-direction: row-reverse;
  justify-content: center;
  align-content: center;
}

#faculty > ul > li {
  display: display-inside;
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding: 20px;
}

#faculty-list {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap; /* This tell's the flex items to wrap if there
                      isn't enough space for all of the items. Without this the
                      faculty images will be in a row and only resize well until around
                      550px width of screen. */
  justify-content: center;
  align-content: center;
}

.name {
  padding-left:10;
  font-family:cursive;
  font-size: 2rem;
}

.office {
  padding-left:10;
  font-family:monospace;
  font-size:1.8rem
}

img.pic {
  width: 100%;
  border: 8px solid #000000;
}

#style-selector {
  position: fixed;
  background-color: #30ebf1;
  left: 0;
  right: 0;
  top: 0;
  height: 46px;
  padding-top: 20px;
}

#style-selector ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #253549;
}

#style-selector li {
  float: right;
}

#style-selector li a {
  display: block;
  color: #3F5877;
  text-align: center;
  padding: 14px 16px; /*this adds some spacing around the items in our "nav bar" */
  text-decoration: none;
}

#style-selector li a:hover {
  background-color: #151A1D;
}

#validation {
  text-align: center;
  font-size: 1rem;
  padding: 25px;
}


#sources {
  background-color: #3F5877;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#sources > h2 {
  font-size: 2rem;
}

.local a:link{
  background-color:rgb(182, 175, 175);
}

